<li style="list-style:none; background:#d8d8da; margin-bottom: 8px;  ">
    <a style="background:url('drop_down.png') no-repeat scroll 96% center; color: #000; display: block;padding: 14px 45px 14px 10px; font-size: 20px; text-decoration: none; width: 100%; border-bottom: 1px solid #ebebeb;" href="#"> sectionTitlePlaceholder </a>
    <ul style="display:none; padding-left:10px; background-color:#fff;">
        <li style="list-style: outside none none; margin-bottom: 8px; padding: 15px 20px 20px 10px; text-align: justify; ">
            sectionBodyPlaceholder
        </li>
    </ul>
</li>



